{%extends 'base.html'%}

{%block content%}
<div class="section-content">
    <img class="mb-4 bg-primary radius-full w-image" 
    src="https://www.fag.edu.br/mvc/assets/images/graduacao/administracao/administracao-logo-curso.png?a=adsd" alt="administracao">
    <h2 class="mb-5 text-secondary">Administração</h2>
    <p class="curse-content text-secondary mb-5">
        No curso de Administração você desenvolverá competências para atuar em diversos ambientes
        organizacionais.
        Criará habilidades de negociação, decisão, liderança e criatividade para o trabalho individual e em equipe.
        Na Administração FAG você se tornará um profissional responsável pelo planejamento e execução de ações que
        visem aproveitar ao máximo os recursos financeiros, humanos e materiais. Além disso, o curso desenvolve
        aulas
        práticas em empresas e em laboratórios com softwares adequados, visitas técnicas e projetos de extensão em
        programas sociais.
    </p>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Carga Horária: </span>3.000 Horas</div>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Duração: </span>4 Anos</div>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Período: </span>Noturno</div>
</div>
{%endblock%}