{%extends 'base.html'%}

{%block content%}
<div class="section-content">
    <img class="mb-4 bg-primary radius-full w-image" alt="Agronomia"
    src="https://www.fag.edu.br/mvc/assets/images/graduacao/agronomia/agronomia-logo-curso.png?a=adsd" >
    <h2 class="mb-5 text-secondary">Agronomia</h2>
    <p class="curse-content text-secondary mb-5">
        A profissão de engenheiro agrônomo é uma das mais amplas, a qual envolve diversas áreas de conhecimento. O Brasil é um país com grande 
        destaque no Agronegócio, e o trabalho do engenheiro agrônomo é de suma importância para o desenvolvimento cada vez maior da Nação.
        O curso de Agronomia da FAG oferece mais de 70 disciplinas para a formação do engenheiro agrônomo, que poderá atuar em atividades 
        ligadas a agricultura, pecuária, biotecnologia, florestas, alimentos, construções rurais, produção de sementes, paisagismo, gestão, 
        crédito rural, políticas agrícolas, solos, pesquisas, dentre tantas outras.
    </p>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Carga Horária: </span>4.200 Horas</div>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Duração: </span>4 anos | 5 anos</div>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Período: </span>Integral | Noturno</div>
</div>
{%endblock%}