{%extends 'base.html'%}

{%block content%}
<div class="section-content">
    <img class="mb-4 bg-primary radius-full w-image" alt="Arquitetura e Urbanismo"
    src="https://www.fag.edu.br/mvc/assets/images/graduacao/arquitetura-e-urbanismo/arquitetura-e-urbanismo-logo-curso.png?a=adsd" >
    <h2 class="mb-5 text-secondary">Arquitetura e Urbanismo</h2>
    <p class="curse-content text-secondary mb-5">
        No curso de Arquitetura e Urbanismo da FAG aprende-se como trabalhar com projetos de edificação, projeto urbanístico 
        paisagístico e planejamento urbano regional e ambiental, incluindo também arquitetura de interiores, design e arte. 
        O curso também estimula o desenvolvimento de projetos que promovam o desenvolvimento local no que diz respeito à arquitetura
        e urbanismo de forma geral, a conservação de seu patrimônio histórico e particularidades culturais da região. Ainda é 
        possível participar de viagens de estudos (nacionais e internacionais) aliados a projetos de pesquisa e extensão. O curso 
        forma arquitetos e urbanistas com habilitação única, sólida formação de profissional generalista, com visão crítica e holística, 
        com relação à concepção, organização e construção do espaço interior e exterior, abrangendo o urbanismo, a edificação e o 
        paisagismo. Seus egressos atuam na conservação e valorização do patrimônio construído, na proteção do equilíbrio do ambiente 
        natural e na utilização racional dos recursos disponíveis.
    </p>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Carga Horária: </span>3.600 Horas</div>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Duração: </span>4 anos | 5 anos</div>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Período: </span>Integral | Noturno</div>
</div>
{%endblock%}