{%extends 'base.html'%}

{%block content%}
<div class="section-content">
    <img class="mb-4 bg-primary radius-full w-image"  alt="Ciências Biológicas"
    src="https://www.fag.edu.br/mvc/assets/images/graduacao/ciencias-biologicas/ciencias-biologicas-logo-curso.png?a=adsd">
    <h2 class="mb-5 text-secondary">Ciências Biológicas</h2>
    <p class="curse-content text-secondary mb-5">
        No curso de Ciências Biológicas você terá uma compreensão do significado das Ciências Biológicas para a sociedade, 
        como também desenvolver competências para atuar na conservação e promoção da qualidade de vida no planeta. 
        O graduando de Ciências Biológicas da FAG aprenderá sobre os processos da organização da vida, tanto molecular 
        quanto dos ecossistemas, organizações celulares e dos organismos. O acadêmico deste curso poderá optar entre 
        Licenciatura (docência) e Bacharelado (biólogo) e ainda usufruir de um Viveiro Conservacionista, com diversas 
        espécies de aves e fragmento florestal de 17,4 hectares.
    </p>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Carga Horária: </span>3.372 Horas</div>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Duração: </span>4 Anos</div>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Período: </span>Noturno</div>
</div>
{%endblock%}