{%extends 'base.html'%}

{%block content%}
<div class="section-content">
    <img class="mb-4 bg-primary radius-full w-image" alt="Ciências Contábeis"
    src="https://www.fag.edu.br/mvc/assets/images/graduacao/ciencias-contabeis/ciencias-contabeis-logo-curso.png?a=adsd" >
    <h2 class="mb-5 text-secondary">Ciências Contábeis</h2>
    <p class="curse-content text-secondary mb-5">
        Ao escolher pela graduação em Ciências Contábeis você irá aprender a classificar e registrar as transações realizadas por organizações
        e empresas de variados segmentos, gerar informações relevantes e realizar análises, interpretação e avaliação dos dados contábeis 
        levantados. Ainda, desenvolverá habilidades para prestar assessoria e embasar a tomada de decisões devido a informações contábeis, 
        e também aprenderá a administrar sistemas de informação e de controle gerenciais no que diz respeito a parte financeira ou econômica 
        das organizações. As aulas práticas acontecem em laboratórios com softwares específicos para a área.
    </p>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Carga Horária: </span>3.000 Horas</div>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Duração: </span>4 Anos</div>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Período: </span>Noturno</div>
</div>
{%endblock%}