{%extends 'base.html'%}

{%block content%}
<div class="section-content">
    <img class="mb-4 bg-primary radius-full w-image" alt="Design Gráfico"
    src="https://www.fag.edu.br/mvc/assets/images/graduacao/design-grafico/design-grafico-logo-curso.png?a=adsd" >
    <h2 class="mb-5 text-secondary">Design Gráfico</h2>
    <p class="curse-content text-secondary mb-5">
        O curso superior de Tecnologia em Design Gráfico do Centro Universitário FAG possui nota máxima no MEC por proporcionar 
        uma formação abrangente e atualizada em todas as áreas que um Designer Gráfico pode atuar. O aluno deste curso experimentará 
        a vivência em um universo de criatividade e inovação. Irá elaborar produtos gráficos e digitais, fazer ilustrações, criar 
        animações e desenvolver projetos editoriais. A partir da conclusão do primeiro ano o acadêmico já poderá ser certificado 
        com a formação intermediária de Programador Visual Gráfico. Como aluno deste curso, você terá contato com atividades 
        práticas em laboratórios adequados às necessidades da área, tais como: Laboratório de Design, Laboratório de Fotografia, 
        Salas Interativas Pro Active, TV FAG e AGECIN.
    </p>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Carga Horária: </span>1.600 Horas</div>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Duração: </span>2 Anos</div>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Período: </span>Noturno</div>
</div>
{%endblock%}