{%extends 'base.html'%}

{%block content%}
<div class="section-content">
    <img class="mb-4 bg-primary radius-full w-image" alt="Direito"
    src="https://www.fag.edu.br/mvc/assets/images/graduacao/direito/direito-logo-curso.png?a=adsd" >
    <h2 class="mb-5 text-secondary">Direito</h2>
    <p class="curse-content text-secondary mb-5">
        No curso de Direito você irá estudar o Ordenamento, desenvolverá habilidades de argumentação, 
        mediação de conflitos e vocabulário jurídico. Todo esse conteúdo e habilidades desenvolvidas ao 
        longo do curso serão aplicados na prática, real e simulada no Núcleo de Práticas Jurídicas FAG, 
        fazendo a ligação entre o cidadão e o Estado. Além disso, você receberá preparação para a prova da 
        OAB desde o início do curso, otimizando os resultados do acadêmico da FAG no exame.
    </p>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Carga Horária: </span>4.650 Horas</div>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Duração: </span>5 Anos</div>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Período: </span>Matutino | Noturno</div>
</div>
{%endblock%}