{%extends 'base.html'%}

{%block content%}
<div class="section-content">
    <img class="mb-4 bg-primary radius-full w-image" alt="Educação Física"
    src="https://www.fag.edu.br/mvc/assets/images/graduacao/educacao-fisica/educacao-fisica-logo-curso.png?a=adsd" >
    <h2 class="mb-5 text-secondary">Educação Física</h2>
    <p class="curse-content text-secondary mb-5">
        O graduando em Educação Física possuirá capacidade profissional de coordenar, planejar, programar, 
        supervisionar, dinamizar, organizar, avaliar e executar trabalhos, programas, planos e projetos que 
        envolvam os movimentos ou atividades físicas do ser humano. O licenciado em Educação Física poderá 
        atuar em Escolas Públicas ou Particulares desde a Educação Infantil até o Ensino Médio. Já o bacharel 
        deste curso poderá atuar em clubes, centros esportivos e academias, bem como prestar serviços de 
        consultoria em treinamentos especializados. Na FAG você terá acesso à prática no Complexo Esportivo,
         academia de musculação, piscina térmica, campo de futebol e pista de atletismo.
    </p>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Carga Horária: </span>Licenciatura 3.200 horas | Bacharelado 3.200 horas</div>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Duração: </span>Licenciatura 4 anos | Bacharelado 4 anos</div>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Período: </span>Matutino | Noturn</div>
</div>
{%endblock%}