{%extends 'base.html'%}

{%block content%}
<div class="section-content">
    <img class="mb-4 bg-primary radius-full w-image" alt="Enfermagem"
    src="https://www.fag.edu.br/mvc/assets/images/graduacao/enfermagem/enfermagem-logo-curso.png?a=adsd" >
    <h2 class="mb-5 text-secondary">Enfermagem</h2>
    <p class="curse-content text-secondary mb-5">
        No curso de Enfermagem você terá plenas habilidades técnicas, teóricas e científicas como 
        Enfermeiro Generalista (Bacharel). O foco deste curso está na promoção e recuperação da saúde 
        e na prevenção de doenças. Como acadêmico do curso você terá acesso tanto ao conhecimento clássico 
        quanto às modernas tendências na área da saúde, prestando assistência qualificada de enfermagem 
        aos diversos setores de atendimento a saúde dos indivíduos.
    </p>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Carga Horária: </span>4.000 Horas</div>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Duração: </span>4 Anos</div>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Período: </span>Integral</div>
</div>
{%endblock%}