{%extends 'base.html'%}

{%block content%}
<div class="section-content">
    <img class="mb-4 bg-primary radius-full w-image" alt="Engenharia de Software"
    src="https://www.fag.edu.br/mvc/assets/images/graduacao/engenharia-de-software/engenharia-de-software-logo-curso.png?a=adsd" >
    <h2 class="mb-5 text-secondary">Engenharia de Software</h2>
    <p class="curse-content text-secondary mb-5">
        A proposta do curso de Engenharia de Software é formar profissionais com sólido conhecimento nas práticas da engenharia 
        para projetar e desenvolver softwares para qualquer finalidade, tais como: softwares de gestão, inteligência artificial, 
        aplicativos para smartphones, sistemas embarcados e jogos digitais.
        <br />
        O incentivo a inovação e ao empreendedorismo estão presentes desde o primeiro período do curso, onde os acadêmicos são instigados 
        a pensar e desenvolvedor projetos inovadores e com grande potencial de mercado.
        <br />
        O corpo docente é formado por doutores, mestres e especialistas que, além da formação acadêmica de alto nível, 
        atuam no mercado regional, o que possibilita trazer para a sala de aula a experiência da realidade 
        vivenciada no ambiente empresarial.
    </p>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Carga Horária: </span>3.200 Horas</div>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Duração: </span>4 Anos</div>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Período: </span>Noturno</div>
</div>
{%endblock%}