{%extends 'base.html'%}

{%block content%}
<div class="section-content">
    <img class="mb-4 bg-primary radius-full w-image" alt="Engenharia Civil"
    src="https://www.fag.edu.br/mvc/assets/images/graduacao/engenharia-civil/engenharia-civil-logo-curso.png?a=adsd" >
    <h2 class="mb-5 text-secondary">Engenharia Civil</h2>
    <p class="curse-content text-secondary mb-5">
        O curso de Engenharia Civil prepara o estudante para trabalhar em equipes multidisciplinares no segmento 
        da construção civil e realizar o planejamento, a análise, o projeto, a construção, a manutenção e a operação 
        de sistemas de engenharia. A graduação da Centro FAG prioriza as necessidades atuais da sociedade, oferecendo
        uma formação cidadã que prepara profissionais humanistas, técnicos e agentes de transformação, 
        formando profissionais éticos com responsabilidade profissional, considerando o impacto das atividades 
        no contexto social e ambiental, bem como a viabilidade econômica destes.
        <br />
        Com 18 anos de experiência, o curso de Engenharia Civil do Centro Universitário Assis Gurgacz já formou mais de 1 mil profissionais.
    </p>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Carga Horária: </span>3.880 Horas</div>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Duração: </span>5 Anos</div>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Período: </span>Noturno</div>
</div>
{%endblock%}