{%extends 'base.html'%}

{%block content%}
<div class="section-content">
    <img class="mb-4 bg-primary radius-full w-image" alt="Engenharia de Controle e Automação"
    src="https://www.fag.edu.br/mvc/assets/images/graduacao/engenharia-de-controle-e-automacao/engenharia-de-controle-e-automacao-logo-curso.png?a=adsd" >
    <h2 class="mb-5 text-secondary">Engenharia de Controle e Automação</h2>
    <p class="curse-content text-secondary mb-5">
        No curso de Engenharia de Controle e Automação você desenvolverá sua capacidade técnica e seu 
        perfil de gestor e empreendedor. O acadêmico deste curso aprenderá a ser responsável pela projeção, 
        operação e manutenção dos equipamentos nos processos de automação, programando máquinas e adaptando 
        softwares, como também promover o controle automático dos processos industriais e desenvolvendo 
        instrumentos de supervisão e controle nas instalações.
    </p>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Carga Horária: </span>4.100 Horas</div>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Duração: </span>5 Anos</div>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Período: </span>Noturno</div>
</div>
{%endblock%}