{%extends 'base.html'%}

{%block content%}
<div class="section-content">
    <img class="mb-4 bg-primary radius-full w-image" alt="Engenharia Civil"
    src="https://www.fag.edu.br/mvc/assets/images/graduacao/engenharia-eletrica/engenharia-eletrica-logo-curso.png?a=adsd" >
    <h2 class="mb-5 text-secondary">Engenharia Civil</h2>
    <p class="curse-content text-secondary mb-5">
        No curso de Engenharia Elétrica você vai aprender como produzir, transmitir, 
        transportar e distribuir energia elétrica, desenvolvendo conhecimentos e aplicações 
        com eficiência no uso desta commodity, essencial para a vida da humanidade. O curso 
        de Engenharia Elétrica da FAG também contempla outras áreas como automação de sistemas, 
        ciências ambientais, computação, consultoria em indústrias e muito mais. Para as aulas 
        práticas específicas a Instituição oferece laboratórios modernos e equipados e ainda o 
        Centro de Pesquisa em Energias Renováveis (Energia Eólica).
    </p>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Carga Horária: </span>4.140 Horas</div>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Duração: </span>5 Anos</div>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Período: </span>Noturno</div>
</div>
{%endblock%}