{%extends 'base.html'%}

{%block content%}
<div class="section-content">
    <img class="mb-4 bg-primary radius-full w-image" alt="Engenharia Mecânica"
    src="https://www.fag.edu.br/mvc/assets/images/graduacao/engenharia-mecanica/engenharia-mecanica-logo-curso.png?a=adsd">
    <h2 class="mb-5 text-secondary">Engenharia Mecânica</h2>
    <p class="curse-content text-secondary mb-5">
        O curso de Engenharia Mecânica do Centro FAG, permite ao futuro acadêmico adentrar o universo das máquinas!
        A atuação do engenheiro mecânico ocorre principalmente na solução de problemas nos segmentos de projeto, 
        execução e análise de elementos de máquinas e seus sistemas estruturais. Aqui no Centro FAG, você vai 
        encontrar um curso que une uma forte base teórica, com a formação de competências profissionais diversas
        e específicas para atuar com projeto, fabricação e manutenção. E, para isso, entendemos que a sala de 
        aula não basta! É preciso vivenciar experiências práticas! Aqui nossos alunos são constantemente desafiados
        com projetos complexos e de solução aberta, porque a vida não tem respostas nem soluções prévias.
    </p>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Carga Horária: </span>4.000 Horas</div>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Duração: </span>5 Anos</div>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Período: </span>Noturno</div>
</div>
{%endblock%}