{%extends 'base.html'%}

{%block content%}
<div class="section-content">
    <img class="mb-4 bg-primary radius-full w-image" alt="Farmácia"
    src="https://www.fag.edu.br/mvc/assets/images/graduacao/farmacia/farmacia-logo-curso.png?a=adsd" >
    <h2 class="mb-5 text-secondary">Farmácia</h2>
    <p class="curse-content text-secondary mb-5">
        No curso de Farmácia você irá vivenciar o universo de uma formação ampla, focada na 
        saúde e no cuidado ao paciente. Desenvolverá habilidades para se tornar um profissional 
        com possibilidades de atuação nas mais diversas áreas, tais como, Fármacos e Medicamentos, 
        Análises Clínicas e Toxicológicas, Alimentos, Educação, Saúde Pública e Práticas Integrativas 
        e Complementares. Conheça a estrutura do curso e seja bem-vindo à faculdade da sua vida.
    </p>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Carga Horária: </span>4.000 Horas</div>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Duração: </span>4 Anos</div>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Período: </span>Noturno (estágios serão realizados durante o dia)</div>
</div>
{%endblock%}