{%extends 'base.html'%}

{%block content%}
<div class="section-content">
    <img class="mb-4 bg-primary radius-full w-image" alt="Fisioterapia"
    src="https://www.fag.edu.br/mvc/assets/images/graduacao/fisioterapia/fisioterapia-logo-curso.png?a=adsd" >
    <h2 class="mb-5 text-secondary">Fisioterapia</h2>
    <p class="curse-content text-secondary mb-5">
        O curso de Fisioterapia do Centro Universitário FAG, em sua trajetória de 20 anos, alto conceito no MEC, 
        atende todas às necessidades de um profissional de excelência para o mercado de trabalho. Pautado em uma 
        metodologia de ensino exitosa, com uma carga horária, em sua maioria, de práticas em laboratórios 
        específicos e muita tecnologia. O curso conta com um Centro de Reabilitação, com equipe multidisciplinar,
         que é Referência em Reabilitação para o estado do Paraná e com Hospital próprio. O curso está inserido 
         em um Campus com uma rica área verde, bosque e viveiro de pássaros, facilitador do atendimento em saúde 
         humanizada, da relação do acadêmico com o paciente e do aprendizado.
    </p>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Carga Horária: </span>4.000 Horas</div>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Duração: </span>4 Anos</div>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Período: </span>Noturno</div>
</div>
{%endblock%}