{%extends 'base.html'%}

{%block content%}
<div class="section-content">
    <img class="mb-4 bg-primary radius-full w-image" alt="Fonoaudiologia"
    src="https://www.fag.edu.br/mvc/assets/images/graduacao/fonoaudiologia/fonoaudiologia-logo-curso.png?a=adsd" >
    <h2 class="mb-5 text-secondary">Fonoaudiologia</h2>
    <p class="curse-content text-secondary mb-5">
        No curso de Fonoaudiologia o aluno desenvolverá habilidades para atuar na prevenção, avaliação,
        diagnóstico e terapia dos diferentes aspectos da comunicação humana (linguagem oral e escrita, 
        voz e audição) e com as funções responsáveis pela sucção, deglutição, respiração e mastigação. 
        De acordo com o Conselho Federal de Fonoaudiologia, as áreas de especialização e atuação 
        fonoaudiológica são: Audiologia, Fonoaudiologia Educacional, Disfagia, Voz, Fonoaudiologia 
        Neurofuncional, Fonoaudiologia do Trabalho, Gerontologia, Linguagem, Motricidade Orofacial, 
        Saúde Coletiva, Fluência e Neuropsicologia.
    </p>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Carga Horária: </span>3.200 Horas</div>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Duração: </span>4 Anos</div>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Período: </span>Noturno</div>
</div>
{%endblock%}