{%extends 'base.html'%}

{%block content%}
<div class="section-content">
    <img class="mb-4 bg-primary radius-full w-image" alt="Fotografia"
    src="https://www.fag.edu.br/mvc/assets/images/graduacao/fotografia/fotografia-logo-curso.png?a=adsd" >
    <h2 class="mb-5 text-secondary">Fotografia</h2>
    <p class="curse-content text-secondary mb-5">
        O Curso de Tecnologia em Fotografia do Centro Universitário FAG forma profissionais aptos a 
        trabalhar nas mais diversas áreas da fotografia, como moda, fotojornalismo, fotografia publicitária,
        fotografia de casamentos, entre outros. As disciplinas da matriz curricular ainda capacitam o acadêmico
        dentro de 4 eixos: ver e pensar fotografia (teoria), conhecer o funcionamento do equipamento (técnica),
        produzir imagens (prática) e ainda ser um empreendedor (mercadológico) e dono do seu próprio negócio.
        Durante a graduação, o aluno contará com cursos e workshops oferecidos por profissionais renomados na área.
        Tudo isso aliado a uma estrutura física com estúdio e laboratório fotográfico, Agência Experimental. 
        laboratório de iMACs e Câmeras Profissionais
    </p>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Carga Horária: </span>1.600 Horas</div>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Duração: </span>2 Anos</div>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Período: </span>Noturno</div>
</div>
{%endblock%}