{%extends 'base.html'%}

{%block content%}
<div class="section-content">
    <img class="mb-4 bg-primary radius-full w-image" alt="História"
    src="https://www.fag.edu.br/mvc/assets/images/graduacao/historia/historia-logo-curso.png?a=adsd" >
    <h2 class="mb-5 text-secondary">História</h2>
    <p class="curse-content text-secondary mb-5">
        A licenciatura em História prepara profissionais para atuar nos anos finais do Ensino Fundamental e 
        Ensino Médio, considerando a docência e projetos interdisciplinares em escolas públicas e privadas. 
        O aluno de História FAG também poderá desenvolver trabalhos em órgãos públicos, privados e organizações 
        não governamentais ligadas à ciência, educação e cultura.
    </p>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Carga Horária: </span>3.640 Horas</div>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Duração: </span>4 Anos</div>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Período: </span>Noturno</div>
</div>
{%endblock%}