{%extends 'base.html'%}

{%block content%}
<div class="section-content">
    <img class="mb-4 bg-primary radius-full w-image" alt="Jornalismo"
    src="https://www.fag.edu.br/mvc/assets/images/graduacao/jornalismo/jornalismo-logo-curso.png?a=adsd" >
    <h2 class="mb-5 text-secondary">Jornalismo</h2>
    <p class="curse-content text-secondary mb-5">
        Rádio, TV, Internet, Revistas, Jornais, Blogs, Vlogs, Podcasts, Youtube, Facebook, SpotFy, 
        Twitter, Instagram, Medium. Estes meios tradicionais e os novos meios ou plataformas de de 
        comunicação fazem parte do dia a dia do Jornalista moderno, que atua em diferentes áreas da 
        comunicação ao mesmo tempo. Tudo junto e misturado. Transformar nossos acadêmicos em Profissionais 
        Multiplataforma é o objetivo do Centro FAG em conjunto com nosso corpo docente especializado 
        aliado à nossa grande estrutura que possibilita ao acadêmico o melhor dos dois mundos: a 
        pesquisa científica e a prática profissional. O Jornalismo nos dias atuais ganha papel de 
        protagonismo no cotidiano de milhares e pessoas que consomem informação 24 horas por dia e 
        saber produzir ou gerar conteúdo é fundamental.
    </p>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Carga Horária: </span>3.160 Horas</div>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Duração: </span>4 Anos</div>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Período: </span>Noturno</div>
</div>
{%endblock%}