{%extends 'base.html'%}

{%block content%}
<div class="section-content">
    <img class="mb-4 bg-primary radius-full w-image" alt="Letras Português/Inglês"
    src="https://www.fag.edu.br/mvc/assets/images/graduacao/letras-portugues-ingles/letras-portugues-ingles-logo-curso.png?a=adsd" >
    <h2 class="mb-5 text-secondary">Letras Português/Inglês</h2>
    <p class="curse-content text-secondary mb-5">
        O curso de Letras capacita o acadêmico para ser professor de Língua Portuguesa e 
        Inglesa e suas literaturas, bem como, habilita o aluno a produzir e analisar textos, 
        identificar os distintos gêneros do discurso, aplicar os conhecimentos de gramática das 
        duas línguas, ser capaz de ler, compreender, interpretar e criticar qualquer texto ou 
        informação. O aluno de Letras FAG ainda será preparado para atuar como assessor e corretor de textos.
    </p>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Carga Horária: </span>4.000 Horas</div>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Duração: </span>4 Anos</div>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Período: </span>Noturno</div>
</div>
{%endblock%}