{%extends 'base.html'%}

{%block content%}
<div class="section-content">
    <img class="mb-4 bg-primary radius-full w-image" alt="Engenharia Mecatrônica"
    src="https://www.fag.edu.br/mvc/assets/images/graduacao/engenharia-mecatronica/engenharia-mecatronica-logo-curso.png?a=adsd" >
    <h2 class="mb-5 text-secondary">Engenharia Mecatrônica</h2>
    <p class="curse-content text-secondary mb-5">
        O Engenheiro Mecatrônico formado pelo Centro Universitário FAG, aprende na prática, já nos períodos iniciais, 
        como desenvolver suas habilidades, sendo direcionado com foco em projetos, criação e desenvolvimentos de robôs
         (máquinas e equipamentos), bem como soluções de problemas, nos mais diferentes segmentos da indústria: metal 
         mecânica, elétrica, agronegócio, dentre outros. A automação residencial, predial e industrial, seguindo as mais 
         modernas tendências tecnológicas do mercado, a exemplo da IoT, farão parte do seu processo de aprendizagem. 
         Você, que espera um curso dinâmico e que atenda suas aspirações, pode contar com Laboratórios equipados e 
         professores capacitados que são atuantes no mercado, possuindo a experiência na medida certa, para sua sólida 
         formação profissional.
    </p>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Carga Horária: </span>3.880 Horas</div>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Duração: </span>5 Anos</div>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Período: </span>Noturno</div>
</div>
{%endblock%}