{%extends 'base.html'%}

{%block content%}
<div class="section-content">
    <img class="mb-4 bg-primary radius-full w-image" alt="Medicina Veterinária"
    src="https://www.fag.edu.br/mvc/assets/images/graduacao/medicina-veterinaria/medicina-veterinaria-logo-curso.png?a=adsd" >
    <h2 class="mb-5 text-secondary">Medicina Veterinária</h2>
    <p class="curse-content text-secondary mb-5">
        No curso de Medicina Veterinária, você será habilitado para atuar em diversos campos da saúde animal 
        e clínica veterinária, bem como saneamento ambiental e medicina preventiva, saúde pública, inspeção e 
        tecnologia de produtos de origem animal, zootecnia, produção e reprodução animal, ecologia e proteção 
        ao meio ambiente. Você terá acesso direto ao Hospital Veterinário FAG, destaque na clínica e cirurgia 
        de grandes e pequenos animais.
    </p>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Carga Horária: </span>4.050 Horas</div>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Duração: </span>4 anos | 5 anos</div>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Período: </span>Integral | Noturno</div>
</div>
{%endblock%}