{%extends 'base.html'%}

{%block content%}
<div class="section-content">
    <img class="mb-4 bg-primary radius-full w-image" alt="Medicina"
    src="https://www.fag.edu.br/mvc/assets/images/graduacao/medicina/medicina-logo-curso.png?a=adsd" >
    <h2 class="mb-5 text-secondary">Medicina</h2>
    <p class="curse-content text-secondary mb-5">
        No curso de Medicina FAG você terá formação como generalista, com perfil de um profissional em permanente preparação, 
        visando autonomia profissional e intelectual, apto a superar os desafios de renovadas condições de exercício profissional 
        e de produção de conhecimento. Um dos pontos fundamentais do curso é a inserção dos alunos desde o início nas Unidades 
        Básicas de Saúde (UBS) e a oportunidade de se integrar à vida prática. Para o desenvolvimento das atividades de relação 
        teoria e prática você poderá utilizar os laboratórios de ensino, as Clínicas Integradas FAG, o Hospital São Lucas e ainda, 
        toda a estrutura pública de saúde conveniada.
    </p>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Carga Horária: </span>7.500 Horas</div>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Duração: </span>6 Anos</div>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Período: </span>Integral</div>
</div>
{%endblock%}