{%extends 'base.html'%}

{%block content%}
<div class="section-content">
    <img class="mb-4 bg-primary radius-full w-image" alt="Nutrição"
    src="https://www.fag.edu.br/mvc/assets/images/graduacao/nutricao/nutricao-logo-curso.png?a=adsd" >
    <h2 class="mb-5 text-secondary">Nutrição</h2>
    <p class="curse-content text-secondary mb-5">
        O Curso de Nutrição do Centro Universitário da FAG através de um ensino crítico e criativo leva o 
        aluno a aprender e refletir sobre a realidade social em que está inserido, para que possa transformar 
        o meio em que vive através da atuação ética e comprometida com os princípios da alimentação saudável.
        <br />
        As Metodologias Inovadoras em sala de aula assim como os trabalhos de conclusão de curso, as atividades 
        complementares, as jornadas, mostras de trabalhos e seminários que o curso promove, visam a socialização 
        do conhecimento produzido e a complementação do ensino formal, estimulando o processo de ensino-aprendizagem.
    </p>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Carga Horária: </span>3.202 Horas</div>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Duração: </span>4 Anos</div>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Período: </span>Noturno</div>
</div>
{%endblock%}