{%extends 'base.html'%}

{%block content%}
<div class="section-content">
    <img class="mb-4 bg-primary radius-full w-image" alt="Pedagogia"
    src="https://www.fag.edu.br/mvc/assets/images/graduacao/pedagogia/pedagogia-logo-curso.png?a=adsd" >
    <h2 class="mb-5 text-secondary">Pedagogia</h2>
    <p class="curse-content text-secondary mb-5">
        No curso de Pedagogia, você estudará o planejamento, a coordenação e a avaliação dos processos 
        avaliativos dentro de situações escolares e não-escolares. Desde o início do curso, atividades 
        teóricas e práticas vão lhe preparar da melhor forma para atuar como pedagogo. Na FAG você terá 
        aulas práticas nos laboratórios de Línguas, Informática, Brinquedoteca e ainda ao acervo da 
        Biblioteca que atende às exigências da Educação.
    </p>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Carga Horária: </span>3.200 Horas</div>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Duração: </span>4 Anos</div>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Período: </span>Matutino | Noturno</div>
</div>
{%endblock%}