{%extends 'base.html'%}

{%block content%}
<div class="section-content">
    <img class="mb-4 bg-primary radius-full w-image" alt="Produção Audiovisual"
    src="https://www.fag.edu.br/mvc/assets/images/graduacao/producao-audiovisual/producao-audiovisual-logo-curso.png?a=adsd" >
    <h2 class="mb-5 text-secondary">Produção Audiovisual</h2>
    <p class="curse-content text-secondary mb-5">
        O curso de Produção Audiovisual do Centro Universitário FAG foi elaborado para atender a atual demanda 
        profissional do mercado de comunicação e tem por objetivo formar profissionais aptos para atuar tanto 
        nos meios tradicionais nas áreas de produção, roteirização, captação, edição de imagens e sons assim 
        como em novas mídias através de disciplinas e metodologias inovadoras de ensino que unem teoria, 
        técnica e a prática ao dia a dia do acadêmico.
    </p>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Carga Horária: </span>1.600 Horas</div>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Duração: </span>2 Anos</div>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Período: </span>Noturno</div>
</div>
{%endblock%}