{%extends 'base.html'%}

{%block content%}
<div class="section-content">
    <img class="mb-4 bg-primary radius-full w-image"  alt="Produção Multimídia"
    src="https://www.fag.edu.br/mvc/assets/images/graduacao/producao-multimidia/producao-multimidia-logo-curso.png?a=adsd">
    <h2 class="mb-5 text-secondary">Produção Multimídia</h2>
    <p class="curse-content text-secondary mb-5">
        No Curso Superior de Tecnologia em Produção Multimídia do Centro Universitário FAG você desenvolve 
        competências nas áreas da comunicação, do marketing, do design e dos ambientes digitais ao experimentar 
        boas vivências em um universo de criatividade, inovação e empreendedorismo.
        Nesta graduação, os Apps, as Redes Sociais, os Portais de Conteúdos e vários outros produtos 
        digitais viram instrumentos de ensino a partir de metodologias ativas que permitem uma aprendizagem 
        focada em abordagens práticas e teóricas sobre Comunicação, Comportamento, Consumo e Gestão Estratégica de Negócios.
    </p>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Carga Horária: </span>1.760 Horas</div>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Duração: </span>2 Anos</div>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Período: </span>Noturno</div>
</div>
{%endblock%}