{%extends 'base.html'%}

{%block content%}
<div class="section-content">
    <img class="mb-4 bg-primary radius-full w-image" alt="Psicologia"
    src="https://www.fag.edu.br/mvc/assets/images/graduacao/psicologia/psicologia-logo-curso.png?a=adsd" >
    <h2 class="mb-5 text-secondary">Psicologia</h2>
    <p class="curse-content text-secondary mb-5">
        O curso de Psicologia FAG preparará você para atuar em diferentes campos profissionais como 
        a área da saúde, da assistência, nas relações de trabalho, bem como para os desafios das 
        transformações contemporâneas. Na FAG você fará as atividades práticas e de estágio no 
        Centro Integrado de Práticas Psicológicas (CIPP), formado por diversos Núcleos de práticas 
        em psicologia. Podem ainda, realizar atividades nas salas de Dinâmicas de Grupos, Ludoterapia, 
        Atendimento Individual e Familiar e no Laboratório de Observação.
    </p>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Carga Horária: </span>4.020 Horas</div>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Duração: </span>5 Anos</div>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Período: </span>Matutino | Noturno</div>
</div>
{%endblock%}