{%extends 'base.html'%}

{%block content%}
<div class="section-content">
    <img class="mb-4 bg-primary radius-full w-image h-image" alt="Publicidade e Propaganda"
    src="https://i.pinimg.com/originals/87/6e/a8/876ea8f4a4fff90dc5f199507a1edd6d.png" >
    <h2 class="mb-5 text-secondary">Publicidade e Propaganda</h2>
    <p class="curse-content text-secondary mb-5">
        Ao optar pela graduação em Publicidade e Propaganda você irá respirar criatividade e 
        mergulhará no universo da comunicação e da gestão estratégica de marcas, produtos e serviços. 
        Desenvolverá competências para o exercício da criação de textos, imagens e sons para transmitir 
        mensagens publicitárias com eficiência e responsabilidade. Como aluno deste curso, você terá 
        contato com atividades práticas em laboratórios adequados às necessidades da área, tais como: 
        Laboratório de Design, Laboratório de Fotografia, Salas Interativas Pro Active, TV e Rádio FAG e AGECIN.
    </p>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Carga Horária: </span>2.780 Horas</div>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Duração: </span>4 Anos</div>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Período: </span>Noturno</div>
</div>
{%endblock%}