{%extends 'base.html'%}

{%block content%}
<div class="section-content">
    <img class="mb-4 bg-primary radius-full w-image" alt="Sistemas de Informação"
    src="https://www.fag.edu.br/mvc/assets/images/graduacao/sistemas-de-informacao/sistemas-de-informacao-logo-curso.png?a=adsd" >
    <h2 class="mb-5 text-secondary">Sistemas de Informação</h2>
    <p class="curse-content text-secondary mb-5">
        No curso de Sistemas de Informação você será preparado para atuar em pesquisa, gestão, desenvolvimento,
        uso e avaliação de Tecnologias de Informação aplicadas nas organizações, fundamentado na área de Computação e 
        Informática. Será capacitado para criar soluções baseada em tecnologia da informação para organizações, objetivando
        o melhor desempenho das empresas. O curso de Sistemas de Informação FAG, utiliza modernos laboratórios de informática 
        e convênios com SUN, Internacional Business Machine ? IBM e Microsoft.
    </p>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Carga Horária: </span>3.100 Horas</div>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Duração: </span>4 Anos</div>
    <div class="flex-shrink-0 text-secondary curse-content"><span class="text-primary">Período: </span>Noturno</div>
</div>
{%endblock%}