{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico'%}" />
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet"
        type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/styles.css'%}" rel="stylesheet" />
    <title>Cursos Superiores</title>
</head>

<body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/administracao">Administração</a></li>
                <li class="nav-item"><a class="nav-link" href="/agronomia">Agronomia</a></li>
                <li class="nav-item"><a class="nav-link" href="/arquitetura">Arquitetura e Urbanismo</a></li>
                <li class="nav-item"><a class="nav-link" href="/ciencias-biologicas">Ciências Biológicas</a></li>
                <li class="nav-item"><a class="nav-link" href="/ciencias-contabeis">Ciências Contábeis</a></li>
                <li class="nav-item"><a class="nav-link" href="/design-grafico">Design Gráfico</a></li>
                <li class="nav-item"><a class="nav-link" href="/direito">Direito</a></li>
                <li class="nav-item"><a class="nav-link" href="/educacao-fisica">Educação Física</a></li>
                <li class="nav-item"><a class="nav-link" href="/enfermagem">Enfermagem</a></li>
                <li class="nav-item"><a class="nav-link" href="/engenharia-civil">Engenharia Civil</a></li>
                <li class="nav-item"><a class="nav-link" href="/engenharia-de-controle-e-automacao">Engenharia de Controle e Automação</a></li>
                <li class="nav-item"><a class="nav-link" href="/engenharia-software">Engenharia de Software</a></li>
                <li class="nav-item"><a class="nav-link" href="/engenharia-eletrica">Engenharia Elétrica</a></li>
                <li class="nav-item"><a class="nav-link" href="/engenharia-mecanica">Engenharia Mecânica</a></li>
                <li class="nav-item"><a class="nav-link" href="/mecatronica">Engenharia Mecatrônica</a></li>
                <li class="nav-item"><a class="nav-link" href="/farmacia">Farmácia</a></li>
                <li class="nav-item"><a class="nav-link" href="/fisioterapia">Fisioterapia</a></li>
                <li class="nav-item"><a class="nav-link" href="/fonoaudiologia">Fonoaudiologia</a></li>
                <li class="nav-item"><a class="nav-link" href="/fotografia">Fotografia</a></li>
                <li class="nav-item"><a class="nav-link" href="/historia">História</a></li>
                <li class="nav-item"><a class="nav-link" href="/jornalismo">Jornalismo</a></li>
                <li class="nav-item"><a class="nav-link" href="/letras-espanhol">Letras Português/Espanhol</a></li>
                <li class="nav-item"><a class="nav-link" href="/letras">Letras Português/Inglês</a></li>
                <li class="nav-item"><a class="nav-link" href="/medicina">Medicina</a></li>
                <li class="nav-item"><a class="nav-link" href="/medicina-veterinaria">Medicina Veterinária</a></li>
                <li class="nav-item"><a class="nav-link" href="/nutricao">Nutrição</a></li>
                <li class="nav-item"><a class="nav-link" href="/pedagogia">Pedagogia</a></li>
                <li class="nav-item"><a class="nav-link" href="/producao-audiovisual">Produção Audiovisual</a></li>
                <li class="nav-item"><a class="nav-link" href="/producao-multimidia">Produção Multimídia</a></li>
                <li class="nav-item"><a class="nav-link" href="/psicologia">Psicologia</a></li>
                <li class="nav-item"><a class="nav-link" href="/publicidade-e-propaganda">Publicidade e Propaganda</a></li>
                <li class="nav-item"><a class="nav-link" href="/sistemas-de-informacao">Sistemas de Informação</a></li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid p-0">
        <section class="resume-section">
            {% block content %}
            {% endblock %}
        </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>